# Config
config.json
webhooks.json

# Logs
logs/
daemon.log
daemon_error*.log
*.log

# Runtime
server.pid
language.txt
update_check.json

# Python
__pycache__/
*.pyc
*.pyo

# Windows
mc.bat
nssm/
servers.json
Windows/servers/

# Linux
*.service
Linux/mc

# Releases
dist/
create_release.ps1
